<mat-card class="card" appearance="raised">
  <ng-container *ngIf="data">
    <mat-card-header>
      <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">{{name}}</div>
        <div>
          <span class="material-symbols-outlined" [ngClass]="favorite ? 'fill' : 'empty'">favorite</span>
        </div>
      </mat-card-title>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="center center">
        <mat-chip-set fxLayout="row" fxLayoutAlign="center center">
          @for (t of types; track t) {
            <mat-chip class="type">{{t.type.name}}</mat-chip>
          }
        </mat-chip-set>
      </mat-card-subtitle>
    </mat-card-header>
    <img (click)="togglePlayPause()"
      mat-card-image
      [class.shake]="isPlaying"
      [src]="data.sprites.front_default"
      alt="pokemon img"
      matTooltip="Click me :)"
      [matTooltipPosition]="'below'"
      (keypress)="onImageKeyPress($event)"
      (keydown)="onImageKeyDown($event)"
      (keyup)="onImageKeyUp($event)"
    >
    <audio #audio controls hidden>
      <source [src]="urlSound" type="audio/ogg">
      Your browser does not support the audio element.
    </audio>
    <mat-card-content>
      @for (item of detail; track item) {
        <div class="m-2">
          {{ item.key }}: {{ item.value }}
        </div>
      }
    </mat-card-content>
  </ng-container>
  <ng-container *ngIf="!data">
    <ngx-skeleton-loader count="2" animation="progress" />
    <ngx-skeleton-loader animation="progress"
      [theme]="{
        width: '100%',
        height: '25vh',
      }"
    ></ngx-skeleton-loader>
    <ngx-skeleton-loader count="8" animation="progress" />
  </ng-container>
</mat-card>
