<mat-card class="card" appearance="raised">
  <ng-container *ngIf="data">
    <mat-card-header>
      <mat-card-title>
        {{name}}
        <div class="audio-player">
          <button mat-icon-button (click)="togglePlayPause()">
            <mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon>
          </button>
          <button mat-icon-button (click)="stop()">
            <mat-icon>stop</mat-icon>
          </button>
          <audio #audio controls hidden>
            <source [src]="urlSound" type="audio/ogg">
            Your browser does not support the audio element.
          </audio>
        </div>
      </mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="data.sprites.front_default" alt="pokemon img">
    <mat-card-content>
      @for (item of detail; track item) {
        <div class="m-2">
          {{ item.key }}: {{ item.value }}
        </div>
      }
    </mat-card-content>
  </ng-container>
  <div *ngIf="!data" class="loader">
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
