<div class="container" (scroll)="onScroll()">
  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Search Type ...</mat-label>
      <input type="text"
        placeholder="Pick Type"
        aria-label="String"
        matInput
        [formControl]="type"
        [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option [value]="option" *ngFor="let option of types; trackBy: trackById">{{option | capitalize}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <ng-container *ngIf="filteredData.length > 0">
    <mat-grid-list cols="6" rowHeight="70vh">
      <ng-container *ngFor="let item of filteredData; trackBy: trackById">
        <mat-grid-tile *ngIf="typeValue === allTypesPlaceholder || item.types.includes(typeValue)"
          [colspan]="1"
          [rowspan]="1">
          <app-detail [urlParams]="item.url" [favorite]="item.favorite"></app-detail>
        </mat-grid-tile>
      </ng-container>
    </mat-grid-list>
  </ng-container>
  <ng-container *ngIf="!loading && filteredData.length === 0" class="empty-state">
    <div class="empty-state-content">
      <span class="material-icons md-48">sentiment_dissatisfied</span>
      <h6>No Data Available</h6>
      <p>There is currently no data to display. Please check back later.</p>
    </div>
  </ng-container>
  <div *ngIf="loading" class="loader">
    <mat-spinner></mat-spinner>
  </div>
</div>
