:host {
  .container {
    overflow-y: hidden;
  }
  .form {
    padding: 1%;
  }
  .full-width {
    width: 100%;
  }
  .loader-container {
    margin: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}
