:host {
  app-detail {
    width: 90%;
    height: 90%;
  }
  .container {
    overflow-y: hidden;
  }
  .loader {
    margin: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .form {
    padding: 1%;
  }

  .full-width {
    width: 100%;
  }

  .empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .empty-state-content {
    text-align: center;
  }
}
