:host {
  app-detail {
    width: 90%;
    height: 90%;
  }

  .empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .empty-state-content {
    text-align: center;
  }
}
