:host {
  app-detail {
    width: 90%;
    height: 90%;
  }
  .container {
    border: 1px solid #ccc;
    overflow-y: hidden;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .form {
    padding: 1%;
  }

  .full-width {
    width: 100%;
  }

}
