<div class="container" (scroll)="onScroll()">
  <app-search-type></app-search-type>
  <mat-grid-list cols="6" rowHeight="70vh" *ngIf="filteredData.length > 0">
    <ng-container *ngFor="let item of filteredData; trackBy: trackById">
      <mat-grid-tile *ngIf="typeValue === allTypesPlaceholder || item.types.includes(typeValue)"
        [colspan]="1"
        [rowspan]="1">
        <app-detail [urlParams]="item.url" [favorite]="item.favorite"></app-detail>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <app-empty-state *ngIf="filteredData.length === 0"></app-empty-state>
  <app-loading *ngIf="loading"></app-loading>
</div>
