<div class="container" (scroll)="onScroll()">
  <app-search-type (typeValue)="setTypeValue($event)"></app-search-type>
  <mat-grid-list cols="6" rowHeight="70vh" *ngIf="!load.full && favoritedData.length > 0">
    <ng-container *ngFor="let item of favoritedData; trackBy: trackById">
      <mat-grid-tile *ngIf="item.favorite && (typeValue === allTypesPlaceholder || item.types.includes(typeValue))"
        [colspan]="1"
        [rowspan]="1">
        <app-detail [urlParams]="item.url" [favorite]="true"></app-detail>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <app-empty-state *ngIf="!load.full && favoritedData.length === 0"></app-empty-state>
  <app-loading *ngIf="load.part || load.full"></app-loading>
</div>
